// Lato Light
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato_light.ttf') format('truetype');
}

// Lato Regular
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato_Regular.ttf') format('truetype');
}