<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="x-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <link rel="icon" type="image/png" sizes="32x32" href="img/qs-favicon-32x32.png">
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <title>Terms of Service ∙ QuocoSolar</title>
    </head>
    <body>
        <section class="header small">
            <nav>
                <a href="/" class="nav-logo-frame"><img src="img/logo_light.png" class="nav-logo"></a>
                <div class="nav-links" id="nav_links">
                    <i class="fas fa-times" id="hide_menu" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="index">Home</a></li>
                        <li><a href="about">About Us</a></li>
                        <li><a href="why-now">Why Now</a></li>
                        <li><a href="consultation">Virtual Consultation</a></li>
                        <li><a href="events">Events</a></li>
                        <li><a href="information" class="information-resource-btn bold">Information Resource</a></li>
                    </ul>
                </div>
                <i class="fas fa-bars" id="show_menu" onclick="showMenu()"></i>
            </nav>
            <div class="hero-container">
                <!-- <h1>Privacy Statement.</h1> -->
            </div>
            <svg class="hero-curve" xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" viewBox="0 0 1680 40" class="position-absolute width-full z-1" style="bottom: -1px;"><path d="M0 40h1680V30S1340 0 840 0 0 30 0 30z" fill="#fff"></path></svg>
        </section>

        <section class="page-content">
            <div class="container text-left">
                <p class="gray-text-dark" style="letter-spacing: 0.3em; margin: 1rem 1rem 0;">
                    POLICY
                </p>
                <h1 class="large-heading gray-text-dark" style="margin: 0 1rem 1rem;">
                    <span>Terms of Service</span>
                </h1>
            </div>
        </section>

        <section class="book-page-end">
            <div class="container">
                <div class="book-panel text-left">
                    <h2>
                        <span class="gray-text-dark">Book your free consultation now!</span>
                    </h2>
                    <p>
                        You have nothing to lose, except 20 minutes of your time.
                    </p>
                    <a href="book" class="learn-more-btn">
                        Let's Book
                        <span class="bump-link-symbol">
                            <svg class="octicon" height="16" viewBox="0 0 16 16" width="16"><path clip-rule="evenodd" d="m8.21967 2.96967c.29289-.29289.76777-.29289 1.06066 0l4.24997 4.25c.2929.29289.2929.76777 0 1.06066l-4.24997 4.24997c-.29289.2929-.76777.2929-1.06066 0s-.29289-.7677 0-1.0606l2.96963-2.9697h-7.4393c-.41421 0-.75-.33579-.75-.75s.33579-.75.75-.75h7.4393l-2.96963-2.96967c-.29289-.29289-.29289-.76777 0-1.06066z" fill-rule="evenodd"></path></svg>
                        </span>
                    </a>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class=footer-container>
                <div class="footer-logo">
                    <a href="/" class="footer-logo-frame"><img src="img/logo_dark.png" class="footer-logo"></a>
                </div>
                <div class="footer-column">
                    <ul class="footer-links">
                        <li class="footer-link heading">NAVIGATION</li>
                        <li class="footer-link"><a href="index">Home</a></li>
                        <li class="footer-link"><a href="about">About Us</a></li>
                        <li class="footer-link"><a href="why-now">Why Now</a></li>
                        <li class="footer-link"><a href="consultation">Virtual Consultation</a></li>
                        <li class="footer-link"><a href="events">Events</a></li>
                        <li class="footer-link"><a href="information">Information Resource</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <section class="footer-disclaimers">
            <div class="disclaimers-container flex jc-sb">
                <div class="disclaimers">
                    <span style="font-size: 12px; margin-right: 18px;">© 2021 QuocoSolar</span>
                    <a href="terms-of-service">Terms</a>
                    <a href="privacy-statement">Privacy</a>
                </div>
                <div class="social-links">
                    <a href="https://twitter.com/quocosolar"><img src="img/svg/twitter.svg" height=18></a>
                    <a href="https://www.facebook.com/quocosolar"><img src="img/svg/facebook.svg" height=18></a>
                    <a href="https://www.youtube.com/quocosolar"><img src="img/svg/youtube.svg" height=18></a>
                </div>
            </div>
        </section>

        <script src="js/sidenav.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </body>
</html>