html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4 {
  margin: 1rem;
  padding: 0;
}

h2 {
  margin: 0 0 0.5em 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.8em;
}

.padded-text {
  padding: 16px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px 20px 20px 20px;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-gap {
  margin-right: 15px;
}

.w-100 {
  width: 100%;
}

.bold {
  font-weight: 600;
}

.container {
  max-width: 1280px;
  text-align: center;
  margin: auto;
  padding: 50px 20px;
}

.flex-break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mw {
  max-width: 1025px;
}

.large-heading {
  font-size: 38px;
}

.xl-heading {
  font-size: 64px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem !important;
}

.pr {
  position: relative;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.thin-column {
  max-width: 640px;
}

.p-line-spacing {
  line-height: 40px;
}

.above {
  z-index: 100;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.mw-600 {
  max-width: 600px;
}

.no-gap {
  grid-gap: 0 !important;
}

.letter-spacing {
  letter-spacing: 0.3em !important;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.gray-text-dark {
  color: #627597;
}

.gray-text-light {
  color: #8193b2;
}

.blue-text-dark {
  color: #111852;
}

.footer-link-gray {
  color: #586069;
}

.text-gradient-blue {
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear, left top, right top, from(#0094CC), to(#00C6D5));
  background: linear-gradient(to right, #0094CC, #00C6D5);
  background-clip: text;
}

.text-gradient-pink-blue {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(70deg, #cb4ca7, #3382f6);
  background-clip: text;
}

.text-gradient-orange-yellow {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(70deg, #d76964, #ffd57d);
  background-clip: text;
}

.text-gradient-green-blue {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(70deg, #9DF4D2, #6FBAF6);
  background-clip: text;
}

.text-gradient-amber-light-purple {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(70deg, #f4c768, #a252ec);
  background-clip: text;
}

.large-heading-gray {
  color: #24292e;
}

.information-card-blue {
  color: #4452f6;
}

.wf-blue {
  color: #4353ff;
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato_light.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato_Regular.ttf") format("truetype");
}

.lato_regular_base, .regular_10, .regular_12 {
  font-family: 'Lato_Regular';
  color: #000;
}

.regular_10 {
  font-size: 10px;
}

.regular_12 {
  font-size: 12px;
}

.header {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header.large {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.5)), to(rgba(4, 9, 30, 0.5))), url("../img/hero_bg.jpg");
  background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("../img/hero_bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.header.small {
  background: radial-gradient(ellipse at bottom, #0D1E31 25%, #111) !important;
}

.large {
  min-height: 100vh;
}

.small {
  height: 15vh;
  max-height: 926px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  width: 250px;
}

nav .fas {
  display: none;
}

.nav-logo-frame {
  margin: 1em 0;
  height: 35px;
  width: 220px;
  position: relative;
}

.nav-logo {
  max-width: 220px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  cursor: pointer;
  -ms-touch-action: none;
      touch-action: none;
}

.nav-links ul {
  padding: 0px;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links ul li:not(:last-child):after {
  content: '';
  width: 0%;
  height: 2px;
  background: #00C6D5;
  display: block;
  margin: 5px auto;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nav-links ul li:not(:last-child):hover::after {
  width: 100%;
}

.information-resource-btn {
  padding: 15px 40px;
  background: -webkit-gradient(linear, left top, right top, from(#0094CC), to(#00C6D5));
  background: linear-gradient(to right, #0094CC, #00C6D5);
  border-radius: 6px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  position: relative;
  display: inline-block;
}

.information-resource-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hero-container {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  text-align: center;
}

.hero-container h1 {
  font-size: 62px;
}

.hero-container h2 {
  font-weight: 400;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 16px 34px;
  margin-top: 40px;
  font-size: 18px;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, right top, from(#0094CC), to(#00C6D5));
  background: linear-gradient(to right, #0094CC, #00C6D5);
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.hero-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hero-curve {
  bottom: -1px;
  overflow: hidden;
  z-index: 1;
  width: 100% !important;
  position: absolute;
}

@media only screen and (max-width: 320px) {
  .hero-container h1 {
    font-size: 1.5em !important;
  }
}

@media only screen and (max-width: 480px) {
  .hero-container h1 {
    font-size: 2em;
  }
  nav {
    padding: 0 16px !important;
  }
  #hide_menu {
    padding: 13px 8px 0 0 !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .hero-container h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-container, .footer-disclaimers {
    padding: 20px;
  }
  .disclaimers-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-column {
    margin: 0 auto;
    text-align: center;
  }
  .footer-logo {
    text-align: center;
  }
  .information-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .information-cards .card {
    max-width: 450px !important;
  }
  .information-card-category-header {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-container h1 {
    font-size: 50px;
  }
  .information-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .footer-container, .disclaimers-container {
    padding: 20px;
  }
  .footer-column {
    text-align: left;
  }
  .section-card {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'text image' !important;
    grid-gap: 70px;
  }
  .section-card:nth-child(even) {
        grid-template-areas: 'image text' !important;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .section-card:nth-child(even) .section-image {
    text-align: left !important;
  }
  .section-image {
    text-align: right !important;
  }
  .container .heading {
    margin: 50px 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .section-image img {
    max-width: 450px;
  }
}

@media only screen and (max-width: 1023px) {
  .package-column {
    -webkit-box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1) !important;
            box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1) !important;
  }
  .book-panel {
    -webkit-box-shadow: 0 7px 30px rgba(52, 31, 97, 0.08) !important;
            box-shadow: 0 7px 30px rgba(52, 31, 97, 0.08) !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .information-cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .nav-links {
    position: absolute;
    background: #000;
    height: 100vh;
    width: 100%;
    top: -100vh;
    left: 0;
    text-align: center;
    z-index: 100;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
  }
  .nav-links li {
    display: block !important;
  }
  .nav-links ul {
    padding-top: 20px;
    margin: 0;
  }
  nav .fas {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  nav {
    padding: 20px 60px;
  }
  #hide_menu {
    text-align: right;
    padding: 33px 52px 0px 0px;
  }
  #show_menu {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .information-cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .information-cards .card {
    min-width: 350px;
    max-width: 350px;
  }
}

@media only screen and (max-width: 1300px) {
  .package-column {
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
    max-width: 550px !important;
  }
}

.packages {
  margin: auto;
  text-align: center;
}

.package-comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  padding: 50px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.package-column {
  -webkit-box-shadow: 0 7px 30px rgba(52, 31, 97, 0);
          box-shadow: 0 7px 30px rgba(52, 31, 97, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 450px;
  border-radius: 18px;
  margin: 1rem;
  background: #fff;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 2;
}

.package-column:hover {
  -webkit-box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
          box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
}

.package-column.popular {
  background-color: #641BFF;
  margin-top: -1.5rem;
  padding-top: 5rem;
  margin-bottom: -1.5rem;
  padding-bottom: 5.5rem;
  color: white;
  position: relative;
}

.package-column.popular .divider {
  background-color: rgba(255, 255, 255, 0.3);
}

.package-column.popular .most-popular {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #B98E15;
  padding: .5rem;
  background-color: #FEE35C;
  border: 2px solid #B98E15;
  border-radius: 8px;
  font-weight: 600;
}

.package-title {
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #627597;
}

.package-price, .package-price-monthly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 2.5rem;
  margin: 1rem 0;
  color: #627597;
}

.package-column.popular .package-price-from {
  color: rgba(255, 255, 255, 0.8);
}

.package-column.popular .package-price-equivalent {
  color: rgba(255, 255, 255, 0.8);
}

.pound-symbol {
  font-size: 1.5rem;
  margin-right: .25rem;
}

.per-month {
  font-size: 1.5rem;
  margin-left: .25rem;
}

.asterisk {
  color: red;
}

.pound-symbol, .asterisk, .per-month {
  font-weight: 400;
  font-size: 1.4rem;
}

.package-price-from {
  margin: 2rem 0 .5rem 0;
}

.package-price-from, .package-price-equivalent {
  text-align: center;
  color: #0094CC;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.feature img {
  width: 1.1em;
  height: 1.1em;
  margin-right: .5rem;
}

.feature.inactive {
  color: #999;
}

.package-book-btn {
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#0094CC), to(#00C6D5));
  background: linear-gradient(to right, #0094CC, #00C6D5);
  width: 100%;
  padding: 1rem 1rem;
  color: white;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  font-size: 1.2rem;
  margin-top: 2rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-family: var(--heading-font-family);
  text-decoration: none;
}

.package-book-btn:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.package-column.popular .package-book-btn {
  background: white;
  color: #641BFF;
}

.content-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.footer {
  background: #f8f9fb;
  margin-top: 100px;
}

.footer-container {
  max-width: 1280px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.disclaimers-container {
  max-width: 1280px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo-frame {
  height: 35px;
  width: 220px;
  position: relative;
}

.footer-logo {
  width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  margin: 1em 0 0.5em 0;
}

.footer-links {
  margin-bottom: 1em;
}

.footer-column ul {
  padding: 0;
  color: #586069;
}

.footer-column ul li {
  list-style: none;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.footer-column a {
  color: #586069;
  text-decoration: none;
}

.footer-link {
  padding: 8px 0;
  font-size: 14px;
}

.footer-link a {
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.footer-link a:hover {
  color: #0094CC;
}

.footer-link.heading {
  font-weight: 600;
}

.disclaimers a {
  font-size: 12px;
  text-decoration: none;
  color: #586069;
}

.disclaimers, .social-links {
  padding: 10px 0;
}

.disclaimers a:not(:last-child), .social-links a:not(:last-child) {
  margin-right: 18px;
}

.disclaimers span, .social-links span {
  color: #586069;
}

.footer-disclaimers {
  background: #f8f9fb;
}

.section-card {
  text-align: left;
  padding: 50px 0;
}

.section-card {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: 'text text' 'image image';
}

.section-card:nth-child(even) {
      grid-template-areas: 'text text' 'image image';
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section-card.row {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: 'panel panel' 'panel panel' !important;
}

.section-panel {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: panel;
  text-align: left;
  background: radial-gradient(ellipse at bottom, #2E4865, #0D1E31 50%);
  padding: 50px;
  border-radius: 30px;
  -webkit-box-shadow: 0 7px 15px rgba(52, 31, 97, 0.18);
          box-shadow: 0 7px 15px rgba(52, 31, 97, 0.18);
}

.section-card:nth-child(even) .section-image {
  text-align: center;
}

.section-image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: image;
  text-align: center;
  z-index: 2;
}

.section-image img {
  width: 80%;
}

.section-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
  height: 100%;
  z-index: 2;
}

.asterisk-disclaimer {
  font-size: 12px;
  text-align: center;
}

.book-panel {
  -webkit-box-shadow: 0 7px 15px rgba(52, 31, 97, 0.08);
          box-shadow: 0 7px 15px rgba(52, 31, 97, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 40px;
  border-radius: 18px;
  background: white;
  background: linear-gradient(142deg, white 60%, rgba(0, 212, 255, 0.5) 100%);
  background-repeat: no-repeat;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.book-panel p {
  color: #627597;
}

.skewed-bg::before {
  content: "";
  background: #0096cc07;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
}

.list-item {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  display: inline-block;
}

.list-item .checkmark {
  display: inline-block;
  vertical-align: middle;
  padding-top: 2px;
  fill: green;
}

.gradient-text-blue {
  background-color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#0094CC), to(#00C6D5));
  background-image: linear-gradient(to right, #0094CC, #00C6D5);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.error-image {
  position: absolute;
  top: 50%;
  left: 25%;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.2;
  width: 50%;
  max-width: 600px;
}

.learn-more-btn {
  text-decoration: none;
  color: #4969ed;
  background: none;
  -webkit-box-shadow: 0 0 0 1px #4969ed4d inset;
          box-shadow: 0 0 0 1px #4969ed4d inset;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 8px;
  font-weight: 600;
  padding: .9rem 1.5rem .9rem;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  position: relative;
  display: inline-block;
  margin-top: 1.5rem;
}

.learn-more-btn:hover {
  background: none;
  -webkit-box-shadow: 0 0 0 2px #3355e080 inset;
          box-shadow: 0 0 0 2px #3355e080 inset;
  color: #3355e0;
}

.bump-link-symbol {
  display: inline-block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  fill: #3355e0;
  vertical-align: middle;
  padding-top: 2px;
}

.learn-more-btn.green {
  background: rgba(155, 241, 213, 0.1);
  -webkit-box-shadow: 0 0 0 1px rgba(155, 241, 213, 0.35) inset;
          box-shadow: 0 0 0 1px rgba(155, 241, 213, 0.35) inset;
  color: #9BF1D5;
}

.learn-more-btn.green:hover {
  -webkit-box-shadow: 0 0 0 2px rgba(155, 241, 213, 0.45) inset;
          box-shadow: 0 0 0 2px rgba(155, 241, 213, 0.45) inset;
}

.bump-link-symbol.green {
  display: inline-block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  fill: #9BF1D5;
  vertical-align: middle;
  padding-top: 2px;
}

a:hover .bump-link-symbol {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.container .heading {
  margin: 20px 0;
}

.error {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0)), to(rgba(4, 9, 30, 0))), url("../img/404.jpg");
  background: linear-gradient(rgba(4, 9, 30, 0), rgba(4, 9, 30, 0)), url("../img/404.jpg");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  position: relative;
  height: 80vh;
}

.information-cards {
  max-width: 1200px;
  margin: 16px;
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
}

.card {
  background: #f6f8fa;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  text-align: left;
  min-height: 230px;
  max-width: 320px;
}

.card:hover {
  background: #fff;
  -webkit-box-shadow: 0 7px 30px rgba(52, 31, 97, 0.06);
          box-shadow: 0 7px 30px rgba(52, 31, 97, 0.06);
}

.card .card-content {
  padding: 30px;
  height: 100%;
  position: relative;
}

.card .card-image img {
  width: 40%;
  max-width: 105px;
}

.card .card-title {
  margin: 0 auto 10px;
}

.card .card-title h2 {
  margin: 0;
  font-size: 20px;
}

.card .card-button {
  margin: 50px auto 10px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.card .card-button a {
  text-decoration: none;
  color: white;
  background: #4452f6;
  padding: 1rem 2rem;
  border-radius: 6px;
}

.information-card-category-header:not(:first-child) {
  margin: 100px 0 30px;
}

.booking-form {
  padding: 30px;
  border-radius: 12px;
  border: 2px solid #ebebeb;
  -webkit-box-shadow: 0 7px 30px rgba(52, 31, 97, 0.06);
          box-shadow: 0 7px 30px rgba(52, 31, 97, 0.06);
}

.booking-form ul {
  padding: 0;
  margin: 0;
}

.booking-form li {
  padding: 0;
  display: block;
  list-style-type: none;
}

.booking-form li:not(:first-child) {
  margin: 10px 0 0 0;
}

.booking-form label {
  margin: 0 0 10px 0;
  padding: 0;
  display: block;
  font-size: 15px;
}

.booking-form .inline {
  display: inline-block !important;
}

.booking-form input[type=text],
.booking-form input[type=date],
.booking-form input[type=datetime],
.booking-form input[type=number],
.booking-form input[type=search],
.booking-form input[type=time],
.booking-form input[type=url],
.booking-form input[type=email],
.booking-form input[type=phone],
.booking-form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ebebeb;
  border: none;
  padding: 14px;
  margin: 0;
  outline: none;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.booking-form input[type=text]:focus,
.booking-form input[type=date]:focus,
.booking-form input[type=datetime]:focus,
.booking-form input[type=number]:focus,
.booking-form input[type=search]:focus,
.booking-form input[type=time]:focus,
.booking-form input[type=url]:focus,
.booking-form input[type=email]:focus,
.booking-form input[type=phone]:focus,
.booking-form select:focus {
  -webkit-box-shadow: 0px 2px;
  box-shadow: 0px 2px;
}

.booking-form .field-divided {
  width: 49%;
}

.booking-form .field-long {
  width: 100%;
}

.booking-form .field-select {
  width: 100%;
}

.booking-form input[type=submit], .booking-form input[type=button] {
  background: black;
  padding: 12px 30px 12px 30px;
  border: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  margin: 15px 0 0;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.booking-form input[type=submit]:hover, .booking-form input[type=button]:hover {
  box-shadow: 0 7px 30px rgba(52, 31, 97, 0.2);
  -moz-box-shadow: 0 7px 30px rgba(52, 31, 97, 0.2);
  -webkit-box-shadow: 0 7px 30px rgba(52, 31, 97, 0.2);
}

.booking-form .required {
  color: red;
}

.error-prompt {
  color: red;
  margin: 5px 0 !important;
  font-size: 14px !important;
}

.success-prompt {
  background-color: #E2FCD8;
  color: #7AA860;
  padding: 15px !important;
  border-radius: 8px;
  margin: 5px 0 !important;
  font-size: 16px !important;
}

.custom-select {
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: dodgerblue;
}

.select-items div, .select-selected {
  color: white;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-items {
  position: absolute;
  background-color: dodgerblue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgab(0, 0, 0, 0.1);
}

.search-bar-label {
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.search-bar-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-color: #eff0f3;
}

.search-bar-input {
  -webkit-appearance: none;
  border: none;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  font-size: 0.9rem;
  line-height: 1.5;
}

.search-bar-button {
  -webkit-appearance: button;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #eff0f3;
  background-image: url("https://assets-global.website-files.com/6009e6adcf8c45466fee3e56/6010918ac97df484d708cb92_b-nav-icon.svg");
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  font-size: 0.9rem;
  display: inline-block;
  padding: 9px 15px;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.admin-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  background: radial-gradient(ellipse at bottom, #0D1E31 25%, #111) !important;
}

.last-item {
  margin-left: auto;
}

.admin-nav {
  padding: 0px;
}

.logo {
  cursor: pointer;
  max-width: 200px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav__links li a {
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
  text-decoration: none;
  color: #9898A3;
}

.nav__links li a:hover {
  color: white;
}

.nav__links li .active {
  color: white;
  font-weight: 500;
}

.user-profile-btn {
  padding: 20px;
  background-color: #9898A3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}

.user-profile-btn:hover {
  background-color: white;
}

.table-header-control-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.table-title {
  text-decoration: none;
  color: #535353;
  font-weight: 600;
}

.table-results-count {
  color: #535353;
}

.controls {
  list-style: none;
}

.controls li {
  display: inline-block;
  padding: 0px 3px;
}

.controls li a {
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
}

.controls .edit {
  background-color: #6BA2E9;
  cursor: not-allowed;
}

.controls .delete {
  background-color: #E96B6B;
}

.controls .add {
  background-color: #31CA67;
}

.controls .filter {
  background-color: white;
  border: 1px solid #CECECE;
  color: black;
}

.bookings-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

.bookings-table thead tr {
  color: #535353;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.bookings-table thead th {
  font-weight: 600;
  border: none;
  text-align: left;
}

.bookings-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.bookings-table tbody td {
  font-weight: 400;
  color: #535353;
}

.bookings-table tbody td input[type="checkbox"] {
  cursor: pointer;
}

.bookings-table td, .bookings-table th {
  text-align: left;
  padding: 15px;
  font-size: 0.9rem;
}

.status {
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: 600;
}

.status.pending {
  background-color: #FCD8D8;
  color: #C45D5D;
}

.status.incomplete {
  background-color: #FCEFD8;
  color: #C4975D;
}

.status.complete {
  background-color: #E2FCD8;
  color: #7AA860;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown button {
  font-family: "Inter", sans-serif;
}

.dropdownBtn {
  background-color: #ebebeb;
  color: black;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 12px 12px;
  border-radius: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
}

.dropdown-content a {
  color: #535353;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.booking-details {
  list-style-type: none;
  padding: 0;
}

.booking-details li {
  font-weight: 400;
  margin: 10px 0;
  color: #627597;
}

.booking-details li span {
  font-weight: 600 !important;
}

.booking-success-container hr.solid {
  border: 1px solid #e2e2e2;
  max-width: 500px;
}

:root {
  --heading-font-family: "Poppins", sans-serif;
  --regular-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  --gradient-background: linear-gradient(to right, $primary_blue_dark, $primary_blue_light);
}
/*# sourceMappingURL=style.css.map */